<!-- Download Section -->
<section id="cta" class="content-section text-center">
    <div class="download-section">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Main Call to Action</h2>
                <p>Sign this moveon.org petition, this is the main call to action!</p>
                <a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">Visit Petition Page</a>
            </div>
        </div>
    </div>
</section>