    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Call to Action</h2>
                    <p>A call to action. Pick a superdelegate to reach out to, and ask them to commit to respecting the wishes of the Democratic electorate. And/or ask progressives to</p>
                    <a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">Visit Download Page</a>
                </div>
            </div>
        </div>
    </section>